<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-questionaire-heading"
        data-cy="QuestionaireCreateUpdateHeading"
        jhiTranslate="foreignjobsApp.questionaire.home.createOrEditLabel"
      >
        Create or edit a Questionaire
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="foreignjobsApp.questionaire.questTitle" for="field_questTitle">Quest Title</label>
          <input
            type="text"
            class="form-control"
            name="questTitle"
            id="field_questTitle"
            data-cy="questTitle"
            formControlName="questTitle"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="foreignjobsApp.questionaire.options" for="field_options">Options</label>
          <input type="text" class="form-control" name="options" id="field_options" data-cy="options" formControlName="options" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="foreignjobsApp.questionaire.correctOption" for="field_correctOption"
            >Correct Option</label
          >
          <input
            type="text"
            class="form-control"
            name="correctOption"
            id="field_correctOption"
            data-cy="correctOption"
            formControlName="correctOption"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="foreignjobsApp.questionaire.task" for="field_task">Task</label>
          <select class="form-control" id="field_task" data-cy="task" name="task" formControlName="task" [compareWith]="compareTask">
            <option [ngValue]="null"></option>
            <option [ngValue]="taskOption" *ngFor="let taskOption of tasksSharedCollection">{{ taskOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
