<div>
  <h2 id="page-heading" data-cy="JobHeading">
    <span jhiTranslate="foreignjobsApp.job.home.title">Jobs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="foreignjobsApp.job.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-job"
        [routerLink]="['/job/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="foreignjobsApp.job.home.createLabel"> Create a new Job </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="jobs?.length === 0">
    <span jhiTranslate="foreignjobsApp.job.home.notFound">No Jobs found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="jobs && jobs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="jobTitle">
            <div class="d-flex">
              <span jhiTranslate="foreignjobsApp.job.jobTitle">Job Title</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="department">
            <div class="d-flex">
              <span jhiTranslate="foreignjobsApp.job.department">Department</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="industry">
            <div class="d-flex">
              <span jhiTranslate="foreignjobsApp.job.industry">Industry</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="vacancies">
            <div class="d-flex">
              <span jhiTranslate="foreignjobsApp.job.vacancies">Vacancies</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="expiryDate">
            <div class="d-flex">
              <span jhiTranslate="foreignjobsApp.job.expiryDate">Expiry Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="streetAddress">
            <div class="d-flex">
              <span jhiTranslate="foreignjobsApp.job.streetAddress">Street Address</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="postalCode">
            <div class="d-flex">
              <span jhiTranslate="foreignjobsApp.job.postalCode">Postal Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="city">
            <div class="d-flex">
              <span jhiTranslate="foreignjobsApp.job.city">City</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="stateProvince">
            <div class="d-flex">
              <span jhiTranslate="foreignjobsApp.job.stateProvince">State Province</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="country">
            <div class="d-flex">
              <span jhiTranslate="foreignjobsApp.job.country">Country</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="jobRequirement">
            <div class="d-flex">
              <span jhiTranslate="foreignjobsApp.job.jobRequirement">Job Requirement</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="jobResponsibility">
            <div class="d-flex">
              <span jhiTranslate="foreignjobsApp.job.jobResponsibility">Job Responsibility</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="skills">
            <div class="d-flex">
              <span jhiTranslate="foreignjobsApp.job.skills">Skills</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="language">
            <div class="d-flex">
              <span jhiTranslate="foreignjobsApp.job.language">Language</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="minSalary">
            <div class="d-flex">
              <span jhiTranslate="foreignjobsApp.job.minSalary">Min Salary</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="maxSalary">
            <div class="d-flex">
              <span jhiTranslate="foreignjobsApp.job.maxSalary">Max Salary</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="workingHours">
            <div class="d-flex">
              <span jhiTranslate="foreignjobsApp.job.workingHours">Working Hours</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="benefits">
            <div class="d-flex">
              <span jhiTranslate="foreignjobsApp.job.benefits">Benefits</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="company.id">
            <div class="d-flex">
              <span jhiTranslate="foreignjobsApp.job.company">Company</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of jobs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/job', job.id, 'view']">{{ job.id }}</a>
          </td>
          <td>{{ job.jobTitle }}</td>
          <td>{{ job.department }}</td>
          <td>{{ job.industry }}</td>
          <td>{{ job.vacancies }}</td>
          <td>{{ job.expiryDate | formatMediumDate }}</td>
          <td>{{ job.streetAddress }}</td>
          <td>{{ job.postalCode }}</td>
          <td>{{ job.city }}</td>
          <td>{{ job.stateProvince }}</td>
          <td>{{ job.country }}</td>
          <td>{{ job.jobRequirement }}</td>
          <td>{{ job.jobResponsibility }}</td>
          <td>{{ job.skills }}</td>
          <td jhiTranslate="{{ 'foreignjobsApp.Language.' + job.language }}">{{ job.language }}</td>
          <td>{{ job.minSalary }}</td>
          <td>{{ job.maxSalary }}</td>
          <td>{{ job.workingHours }}</td>
          <td>{{ job.benefits }}</td>
          <td>
            <div *ngIf="job.company">
              <a [routerLink]="['/company', job.company.id, 'view']">{{ job.company.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/job', job.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/job', job.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(job)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="jobs && jobs.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
