<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="questionaire">
      <h2 data-cy="questionaireDetailsHeading"><span jhiTranslate="foreignjobsApp.questionaire.detail.title">Questionaire</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ questionaire.id }}</span>
        </dd>
        <dt><span jhiTranslate="foreignjobsApp.questionaire.questTitle">Quest Title</span></dt>
        <dd>
          <span>{{ questionaire.questTitle }}</span>
        </dd>
        <dt><span jhiTranslate="foreignjobsApp.questionaire.options">Options</span></dt>
        <dd>
          <span>{{ questionaire.options }}</span>
        </dd>
        <dt><span jhiTranslate="foreignjobsApp.questionaire.correctOption">Correct Option</span></dt>
        <dd>
          <span>{{ questionaire.correctOption }}</span>
        </dd>
        <dt><span jhiTranslate="foreignjobsApp.questionaire.task">Task</span></dt>
        <dd>
          <div *ngIf="questionaire.task">
            <a [routerLink]="['/task', questionaire.task.id, 'view']">{{ questionaire.task.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/questionaire', questionaire.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
